
 .tableToPrint{
  visibility: hidden;
}
#mapContainer {
  width: 100%;
  height: 500px;
  display: inline-block;
}

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    Set height of the grid so .sidenav can be 100% (adjust as needed)
    .row.content {height: 300px}
     
    /* Set gray background color and 100% height #f1f1f1 */
    .sidenav {
      padding-top: 20px;
      background-color: transparent;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
  /*  footer {
    position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	  text-align: center;
      background-color: #555;
      color: white;
      padding: 15px;
    }
    */
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

/* The Modal (background) */
.myModal {
  display: none; /* Hidden by default */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-body {
  background-color: #9f9dad;
  margin: auto;
  border: 1px solid #888;
  width: 1000px;
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
