      
/* @page { margin: 2cm } */
    
@media print {
	
	  @page {
    size: a4; }
    
  body * {
    visibility: hidden;
  }
  
  .noToPrint{
  visibility: hidden;
  }
  
  #map{
  max-height: 1000px;}
  
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    position: relative;
    left: 0;

  }
    .header-to-print, .header-to-print * {
    visibility: visible;
  }
  .header-to-print {
    position: relative;
    left: 0;
    top: 0;
  }
  
   .footer-to-print, .footer-to-print * {
    visibility: visible;
  }
  .footer-to-print {
   position: fixed;
   left:0;
    bottom: 0;
  }
  
  .leaflet-control-zoom{
   visibility: hidden;
  }
}
