*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body,html{
    height:100%;
    font-family: 'Poppins',sans-serif;
  }
  a{
   font-size:14px;
   line-height: 1.7;
   color:#fff;
   text-decoration: none;
   margin:0;
   transition:all 0.4s;
 }
 a:focus{
   outline:none;
 }
 input{
   outline:none;
   border:none;
 }
 input::-webkit-input-placeholder{
   color:#8f8fa1;
 }
 .container-login100{
   width:100%;
   min-height:100vh;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding:15px;
   background-image:url(img/1.jpg);
   background-position:center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   z-index:1;
 }
 .container-login100::before{
   content:'';
   display:block;
   position:absolute;
   z-index:-1;
   width:100%;
   height:100%;
   top:0;
   left:0;
   background-color: rgba(0,0,0,.6);
 }
 .wrap-login100{
   width:500px;
   background-color: rgba(255,255,255,0.2);
   border-radius: 10px;
   position: relative;
 }
 .login100-form{
   width:100%;
 }
 .login100-form-title{
   font-size:25px;
   color:#403866;
   line-height: 1.2;
   text-transform:uppercase;
   text-align: center;
   width:100%;
   display:block;
   margin-bottom:40px;
 }
 .login100-form-title i{
   font-size: 50px;
   color:#fff;
   border:1.5px solid #00b665;
   width:100px;
   border-radius: 100%;
   height:100px;
   line-height: 90px;
   transition:0.5s ease-in-out;
 }
 .login100-form-title i:hover{
   background-color: #fff;
   color:#00b665;
   border-color:#fff;
 }
 .wrap-input100{
   width:100%;
   position: relative;
   background-color: #e6e6e6;
   border:1px solid transparent;
   border-radius: 3px;
 }
 .input100{
   color:#403866;
   line-height: 1.2;
   font-size: 16px;
   display: block;
   width:100%;
   background-color: #f8f8f9;
   height:52px;
   padding:0px 20px 0px;
   border-radius: 6px;
 }
 .focus-input100{
   position: absolute;
   display:block;
   width:calc(100% + 2px);
   height:calc(100% + 2px);
   top:-1px;
   left:-1px;
   pointer-events: none;
   border:2px solid #00b665;
   border-radius: 3px;
   visibility: hidden;
   opacity: 0;
   -webkit-transition:all 0.4s;
   transition:all 0.4s;
   -webkit-transform:scaleX(1.1) scaleY(1.3);
   transform:scaleX(1.1) scaleY(1.3);
 }
 .input100:focus + .focus-input100{
   visibility: visible;
   opacity: 1;
   -webkit-transform:scale(1);
   transform:scale(1);
 }
 .container-login100-form-btn{
   width:100%;
   display:flex;
   flex-wrap:wrap;
 }
 .login100-form-btn{
   font-size:16px;
   color:#fff;
   line-height: 1.2;
   text-transform: uppercase;
   display:flex;
   justify-content: center;
   align-items: center;
   padding:0 20px;
   width:100%;
   height:52px;
   cursor: pointer;
   background-color: #00b665;
   border-radius: 6px;
   transition:all 0.4s;
   -webkit-transition:all 0.4s;
 }
 .login100-form-btn:hover{
   background-color: #00b665;
 }
 .p-t-50{padding-top: 50px;}
 .p-b-90{padding-bottom: 90px;}
 .p-l-50{padding-left: 50px;}
 .p-r-50{padding-right:50px;}
 .m-t-17{margin-top:17px;}
 .m-b-16{margin-bottom:16px;}
 
 .w-full{
   width:100%;
 }
 .m-auto{
   margin:auto;
 }
 
 