* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	font-family: 'roboto', sans-serif;
	font-size: 100%;
	
	min-height:100%;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}

/* body {
    width: min(100vw, 1440px);
}
*/


.container {
	padding:0px;
  max-width: 90%;
	background:rgba (0,0,0,0.50);
	
}

.header
{
	padding:35px 0;  
	
}

.header h1 {
	font-size:45px;
	color:#fff;
	letter-spacing: 5px;
	text-transform:uppercase;
	font-family:'poller one', cursive;
}

/* .center-container {
	width:40%;
	margin:0 auto;
	background:rgba(0,0,0,0.15);
}
*/

.subHeader {
	background:rgba(0,0,0,0.45);
	background-size:cover;
}

.subHeader h2 {
	font-size: 35px;
	color:#ffffff;
	letter-spacing: 1px;
	padding: 22px 0;
	font-weight: 600;
}

.sub-main
{
	background: rgba (0,0,0,0.25);
	position: relative;
	padding: 30px;
}

.sub-main input[type="text"],
.sub-main input[type="password"]
{
	width: 92.5%;
	outline: none;
	font-size:18px;
	border:none;
	border-bottom:1px dotted #fff;
	color: #fff;
	padding: 20px 0 22px;
	background: none;
	letter-spacing: 1px;
	font-family: arial;
}

span.icon1
{
	position: absolute;
	right:93%;
	color:#ffffff;
	font-size: 20px;
	margin-top: 20px;
}

.input[type="submit"]
{
	background:#fc3158;
	color:#fff;
	font-size: 17px;
	margin-top:10px;
	border:none;
	width:95%;
	outline:none;
	letter-spacing:1px;
	cursor:pointer;
	padding:10px 15px;
	font-family: 'Philosopher', sans-serif;
	transition:0.5s ease-in;

}

.input[type="submit"] :hover
{
	background: #5fc9f8;
	color:#000;
	transition:0.5s ease-in;
}

.img-responsive {
	 max-width: 100%;
     height: auto;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

/* flipcard */ 
.flip-card {
	background-color: transparent;
	width: 300px;
	height: 350px;
	perspective: 1000px;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: transparent;
	color: black;
  }
  
  .flip-card-back {
	background-color: transparent;
	color: rgb(0, 0, 0);
	font-size: 11px;
	padding: 0.75rem 1.25rem;
	transform: rotateY(180deg);
  }

  .flip-card-front ul {
	list-style: none;
	width: 80%;
	margin: auto;
  }

  .flip-card-front ul li {
	border-bottom: 1px solid #eee;
	padding: 1px;

  }

  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: default;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #2676b3;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #2676b3;
    color: white;
  }

  @media only screen and (max-width: 112.5em){
    .popup__content{
        width:80%
    }
}


/* content txt */


  .main {
    float: left;
    width: 70%;
    padding: 0 20px;
  }
  
  .right {
    background-color: transparent;
    float: left;
    width: 30%;
    padding: 15px;
    margin-top: 57px;
    text-align: center;
  }
   .sidebar{
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .main, .right {
      width: 100%;
    }
  }
p {
    text-align: center;
}
.box {
        position: relative;
        padding: 10px 10px 10px 15px;
        width: 100%;
        height: 200px;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
      }

      @media screen and (max-width: 767px) {
        .box {
          margin-left: 2.8%;
          margin-top: 3%;
          width: 90%;
        }
       
        .box:last-child {
          margin-bottom: 3%;
        }
        .img-thumbnail {
            padding: 0.25rem;
            /* background-color: #fff;
             border: 1px solid #dee2e6;*/ 
             border-radius: 0.25rem;
             max-width: 100%;
             height: auto;
           }
        }
      
      
      @media screen and (max-width: 480px) {
        .box {
          width: 94.5%;
        }
        
      }
