/* #wrapper {
  margin: 0 auto;
  width: 100%;
  display:block;
}
 */
/* #navigation {
  display: block;
}
 */
#panel{
 float: left;
  width: 100%;
  height:160px;
background-color: #f2fcff;
color:white;
}
/* div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
} */
.map-container {
	display:block;
  height: 600px;
  /* Fallback for vmin */
  padding: 0px 1rem 1rem 1rem;
  padding: 0px 1vmin 1vmin 1vmin;
}

.map-frame {
  height: 100%;
  width: 100%;
/*   We use outline over border as has issues in some cases */
  outline: 1px solid black;
}

#map{ 
	width:100%;
  	height: 100%;
   background: #009dc4;
}

/* 
Support for browsers that DON'T support Flexbox uses 100% height on the map-container defined above.
Map will at least render, for the small amount of browsers that DON'T support flexbox. Users will just have to scroll abit Â¯\_(ãƒ„)_/Â¯
*/
@supports (display: flex) {
  .map-container {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .map-frame {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

.clock {
  width: 300px;
  text-align: center;
  position: absolute;
  border: 1px solid black;
}

#details {
  background-color: white;
}

#clockBurlington {
  background-color: orange;
}
/*
#details{
  
  width: 100%;
  height:1000px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
	box-shadow: 5px 5px 15px 5px #000000;
	background-color: white;
	padding: 50px;
	margin-bottom: 50px;
}
*/
/* .sidebar {
  float: left;
  width: 20%;
  height:600px;
   background-color: white;
   color: #0a0a0a;
}
 */
#footer {
	/*   position: -webkit-sticky;
  position: sticky; 
background-color: #175B81;
  bottom: 0;
  width: 100%;
  height: 2.5rem;*/
  
 position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #175B81;
}

.footer-labels{
	 width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #0056b3;
}
/* 
.text-labels     {
	font-weight: bold;
    color:#006400;
	font-family: "Arial Black"
	font-size: 20px ;
    line-height:25px;
    text-align:center;
   }
   
table, th, td 
	{
		margin:0px 5px;
		border:solid 1px #333;
		padding:2px 4px;
		font:10px Verdana;
	}
th {
		font-size:14px;
		font-weight:bold
	}
td {
		font-size:14px;
		font-weight:normal
	}
tr {
		background: white;
	}
	
tbody  tr:hover {
		background: yellow;
	}
table {
		border-collapse: collapse;
	}  
 */
#ckboxes {	/* pushes checkbox a little from sidebar left edge */
	padding-left: 10px;
}

  /* Images are all different sizes, this makes them the same */
/*img {
  width:100px;
  height:100px;
  object-fit:scale-down;
}*/
.imgicon {
  width:300px;
  height:200px;
  object-fit:scale-down;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modals {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* 
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
 */
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} */
	*/ end of modal css
	
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/static/images/FRGIS_loading.gif') center no-repeat #3254a8;
}


/* .table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
  background-color: #fff;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-color: #e4e5e7;
}

.table tr.header {
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  Chrome all / Safari all
  -moz-user-select: none;
  Firefox all
  -ms-user-select: none;
  IE 10+
  user-select: none;
  Likely future
}

.table tr:not(.header) {
  display: none;
}

.table .header td:after {
  content: "\002b";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  color: #999;
  text-align: center;
  padding: 3px;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.table .header.active td:after {
  content: "\2212";
}
 */
	 tr .spnTooltip {
    	z-index:10;display:none; padding:14px 20px;
    	margin-top:-30px; margin-left:28px;
    	width:300px; line-height:16px;
	}
	tr:hover .spnTooltip{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

.countryLabel{
  background: rgba(255, 255, 255, 0);
  border:0;
  border-radius:0px;
  box-shadow: 0 0px 0px;
}

/*
 * These CSS rules affect the tooltips within maps with the custom-popup
 * class. See the full CSS for all customizable options:
 * https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366
 */
.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:100px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }
  
  /*
  for Bathemetry Legend Style
  */
.info {
padding: 6px 8px;
font: 10px/11px Arial, Helvetica, sans-serif;
background: white;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}
.legend {
background-color:  “black”;
line-height: 25px;
color: #555;
width: auto;
}
.legend i {
width: 14px;
height: 15px;
float: left;
margin-right: 8px;
opacity: 0.7;
}

/*
for FMA table and popup table
*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  background: white;
  font-size: 10px;
}
.table-data{
 width:300px;
 height:300px;
  overflow:scroll;
}
[type="date"] {
/* background: white url(../images/calendar_2.png) right no-repeat;padding-right: 97% 50%; */
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
}


/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 30%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}


/*Left*/

.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
  left: 0;
}


/*Right*/

.modal.right.fade .modal-dialog {
  right: -520px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}


/* ----- MODAL STYLE ----- */

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.modal-backdrop {
  background-color: transparent;
  display: none;
}

.modal {
  pointer-events: none;
  z-index: 10000000000000;
}

.modal-content {
  pointer-events: auto;
}
