

/* body{
  font-size: 11px;
  line-height: 1.428571429;
  color: #333;
  background:#F0FFFF; */
/* background: rgba(2,33,135,1);
background: -moz-linear-gradient(left, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,33,135,1)), color-stop(4%, rgba(2,33,135,1)), color-stop(49%, rgba(184,238,255,1)), color-stop(95%, rgba(2,33,135,1)), color-stop(100%, rgba(2,33,135,1)));
background: -webkit-linear-gradient(left, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
background: -o-linear-gradient(left, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
background: -ms-linear-gradient(left, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
background: linear-gradient(to right, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022187', endColorstr='#022187', GradientType=1 );

	
//}  */
 .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:250px;
  background-color: #f1f1f1;
}

.list-item a {
  display: inline;
  color: #000;
   padding: 8px 16px;
  text-decoration: none;
}
.list-item  {
  text-align: left;
  border-bottom: 1px solid #555;
}

.list-item :last-child {
  border-bottom: none;
}

.list-item a.active {
  background-color: #4CAF50;
  color: white;
}



.list-item a:hover:not(.active) {
  background-color: #555;
  color: white;
}


.navbar .dropdown-toggle, .navbar .dropdown-menu a {
    cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

/* @media (min-width: 767px) {
    .navbar .dropdown-toggle:not(.nav-link)::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: 0;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        border-left: .3em solid;
    }
} */