
.form-style-3{
	max-width: 900px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 250px;
	color: #000000;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	/* -moz-border-radius: 10px; */
	margin: 0px 0px 10px 0px;
	border: 1px solid #6093ff;
	padding: 20px;
	background: #cff2ff;
	box-shadow: inset 0px 0px 15px #effffb;
	-moz-box-shadow: inset 0px 0px 15px #effffb;
	-webkit-box-shadow: inset 0px 0px 15px #effffb;
}
.form-style-3 fieldset legend{
	color: #000000;
	border-top: 1px solid #6bbbff;
	border-left: 1px solid #6bbbff;
	border-right: 1px solid #6bbbff;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	/* -moz-border-radius: 5px 5px 0px 0px; */
	background: #80daff;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
/* 	-moz-border-radius: 3px; */
	border: 1px solid #000000;
	outline: none;
	color: #000000;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #feffff;
	-moz-box-shadow: inset 1px 1px 4px #feffff;
	-webkit-box-shadow: inset 1px 1px 4px #feffff;
	background: #feffff;
	width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	/* -moz-border-radius: 3px;	 */
	font-weight: bold;
}
.required{
	color:red;
	font-weight:normal;
}

/* small desktop */
@media all and (max-width: 1200px) {
    nav.nav {
        display: block;
    }
}

/* tablet */
@media all and (max-width: 1024px) {
     nav.nav {
        display: block;
    }

}

/* mobile phone */
@media all and (max-width: 768px) {
     nav.nav {
        display: none;
    }

}
   li.dropdown{
     	display: none;
    }
    
/* mobile phone */
@media all and (max-width: 768px) {

   li.dropdown{
     	display: block;
    }
}


.dropdown.active + .link,
.link:hover{
	color: black;
}

.dropdown {
	position: relative;
}
/* div .dropdown-menu {
  height: 70px;
  width: 10%;
  background-color: powderblue;
} */
.header{
	background-color: blue;
	display: flex;
	align-items:baseline;
	padding: .5rem;
	gap: 1rem;
}
.dropdown-menu {
	position: absolute;
	left:0;
	top:calc(100% + .25rem);
	background-color: white;
	padding: .75rem;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	opacity: 0;
	pointer-events: none;
	transform : translateY(-10px);
	transition: opacity 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
	opacity: 1;
	transform : translateY(0);
	pointer-events: auto;
	
}

.sanctuary-grid{
	display:grid;
	grid-template-columns: repeat(8,max-content);
	gap: 2rem;
}

.dropdown-links{
	display: flex;
	flex-direction: column;
	gap: .25rem;
}

.dropdown-links > a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.dropdown-links > a:hover, a:active {
  background-color: green;
  color: white;
}

#content {
	background-color: white;
}
.dateAsOf .area{
        display: inline-block; 
		vertical-align: middle; 
		width: 90%; 
		margin: 0 5px 0 0;
		}