.navbar-default {
  border: none;
}

.datepicker-dropdown {
  z-index: 200 !important;
}

p {
	color:#000000;
	/* font-weight: bold */
}
/* body{
  Safari 4-5, Chrome 1-9
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  Safari 5.1+, Chrome 10+
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

  Firefox 3.6+
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  IE 10
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    height:600px;
} */

body{
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background:#cff2ff;;
/* background: rgba(2,33,135,1);
background: -moz-linear-gradient(left, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,33,135,1)), color-stop(4%, rgba(2,33,135,1)), color-stop(49%, rgba(184,238,255,1)), color-stop(95%, rgba(2,33,135,1)), color-stop(100%, rgba(2,33,135,1)));
background: -webkit-linear-gradient(left, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
background: -o-linear-gradient(left, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
background: -ms-linear-gradient(left, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
background: linear-gradient(to right, rgba(2,33,135,1) 0%, rgba(2,33,135,1) 4%, rgba(184,238,255,1) 49%, rgba(2,33,135,1) 95%, rgba(2,33,135,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022187', endColorstr='#022187', GradientType=1 );

 */
	
	
	
}
#exTab1{
  
  width: 100%;
  height:1000px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
	box-shadow: 5px 5px 15px 5px #000000;
	background-color: white;
	padding: 50px;
	margin-bottom: 50px;
}

.floatRight{
	float:right;
	margin-right: 18px;
}


.footer-distributed{
	background-color: #383838;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 45px 40px;
	margin-top: 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 35%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 20px arial;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #ffffff;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 30%;
}

.footer-distributed .footer-center i{
	background-color:  #000077;
	color: #ffffff;
	font-size: 25px;
	width: 20px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:11px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 15px;
	text-align: center;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #000077;
	border-radius: 2px;
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.footer-bottom {
    background-color: #000000;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer-bottom ul li {
    display: inline-block;
}

.footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer-bottom ul li:last-child a:after {
    content: "";
}

@media (max-width: 550px) {
	.footer-bottom .pull-left,
	.footer-bottom .pull-right {
		float: none !important;
		width: 100%;
		padding: 10px;
		text-align: center;
	}
	
.img-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}
