/* #customers{
 visibility:hidden;
  height:0px;
}
#table{
 visibility:hidden;
} */
#imgview {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}
/* #dateEstablished {
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}
#dateAsOf {
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}
#croppingStart {
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}
#croppingEnd {
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}
#yearIssued {
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}
#yearExpired {
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}
#monthStart {
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}
#monthEnd {
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}

#dateLaunched {
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}
#dateInacted{
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
}
.dateicon{
    background: white url(../images/calendar_2.png) right no-repeat;
    padding-right: 97% 50%;
} */
td.menu_links { cursor: pointer; }

/* [type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}
#bfarData, #denrData{ display: none; }

 tbody tr:hover{
  cursor: pointer;
  background-color: #0b51f3;
}
tbody tr td a.active {
  background-color: #4CAF50;
  color: white;
}
tbody tr.active{
	background-color: #4CAF50;
	color: white;
}
 thead tr,th{
  text-align:center;
  background-color: #ccc;
}
*[data-href] {
  cursor: pointer;
}
#Progress_Status { 
width: 50%; 
background-color: #ddd; 
} 

tr{
	background-color: #ffffff;	
}

#myprogressBar { 
width: 1%; 
height: 35px; 
background-color: #4CAF50; 
text-align: center; 
line-height: 32px; 
color: black; 
} 

#export-buttons-table { 
background-color: white ; 
text-align: center; 
line-height: 32px; 
color: black; 
} 


Paste this css to your style sheet file or under head tag
This only works with JavaScript, 
if it's not present, don't show loader
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/FRGIS_loading.gif') center no-repeat #fff;
}
#loading{
display:none;
margin-left:145px
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; Safari
  animation: spin 2s linear infinite;
}

Safari
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */