/*
*{
	box-sizing: border-box;
}

 body{
	background-color: #9b59b6;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}
.container{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0,3);
	width: 400px;
	max-width: 100%;
}
.header{
	background-color: #f7f7f7;
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 40px;
	
}
.header h2{
	margin: 0;
}
.form{
	padding: 30px 40px;
}
 
.control {
	margin-bottom: 1opx;
	padding-bottom: 20px;
	position: relative;
}
*/
/* .control label{
	display: inline-block;
	margin-bottom: 5px;
}

.control input{
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}
 */
.control.success input{
	border-color: #2ecc71;
}
.control.error input{
	border-color: #e74c3c;
}

.control.success select{
	border-color: #2ecc71;
}
.control.error select{
	border-color: #e74c3c;
}

.control.form-reset input{
	border-color: black;
}
.control.form-reset select{
	border-color: black;
}

.control i {
	/* position: absolute;
	top: 40px;
	right: 10px; */
	visibility: hidden;
}
.control.success i.fa-check-circle{
	color: #2ecc71;
	visibility: visible;
}

.control.error i.fa-exclamation-circle{
	color: #e74c3c;
	visibility: visible;
}
.control.reset i.fa-exclamation-circle,i.fa-check-circle{
	visibility: hidden;
}
.control.reset small{
	visibility: hidden;
}
.control.reset input,select,textarea{
	border-color: black;
}
/* .control small {
	visibility:hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}
 */
.control.error small{
	color: #e74c3c;
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}